/*VARIABLER*/
/*Färgteman*/
@use "../abstracts/variables";



/*Nestling - navmeny*/
nav {
/*Styling för navmeny*/
    ul {
        display: flex;
        justify-content: start;
        gap: 3rem;
        font-size: 1.1rem;
        font-weight: 500;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    }

    li {
        list-style: none;
    }
/*Färg hämtas enligt färgschema i variabler*/
    a {
        text-decoration: none;
        color: variables.$color-nav;
    }

    a:hover{
        color: variables.$color-nav-hover;
    }

    a.active{
        color: variables.$color-nav-active;
    }
}




/*Döljer hamburharen i desktopläge*/
.hamburger {
    display: none;
}


@media (max-width: 1024px) {


 /*Storlek, styling och position för hamburgerikon*/
    .hamburger {
        display: block;
        font-size: 3rem;
        background: none;
        border: none;
        color: variables.$color-nav;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /*Döljer navbaren för desktop*/
    .navbar ul {
        display: none;
        background-color: transparent;
        padding-left: 2rem;
    }

    /*Färg och position för menylänkar*/
    .navbar ul li a {
        display: block;
        color: variables.$color-nav;
        padding-bottom: 1rem;
    }

    .navbar ul li a:hover {
        color: variables.$color-nav-hover;
    }

    /*Visar menyn när hamburgaren är klickad*/
    .navbar ul.show {
        display: block;
    }
}