/*VARIABLER*/
/*Färgteman*/
@use "../abstracts/variables";

/*Netsling - Header (Rubrik + navmeny)*/
header {
padding-top: 1rem;
padding-bottom: 2rem;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/*Nestling - navmeny*/
nav {
    ul {
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: variables.$color-light-nav;
    }

    a:hover{
        color: variables.$color-light-navhover;
    }
}

}