/*VARIABLER*/
/*Färgteman*/
@use "../abstracts/variables";

/*Netsling - Header (Rubrik + navmeny)*/
header {

padding-top: 1rem;
padding-bottom: 1rem;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/*Nestling - navmeny*/
nav {

    ul {
        display: flex;
        justify-content: start;
        gap: 3rem;
        font-size: 1.3rem;
        font-weight: 500;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: variables.$color-light-nav;
    }

    a:hover{
        color: lighten(variables.$color-light-nav, 30%);
    }

    a.active{
        color: darken(variables.$color-light-nav, 30%);
    }
}


}

/*Döljer hamburharen i desktopläge*/
.hamburger {
    display: none;
}


@media (max-width: 1024px) {


 /*Storlek, styling och position för hamburgerikon*/
    .hamburger {
        display: block;
        font-size: 3rem;
        background: none;
        border: none;
        color: variables.$color-light-nav;
        padding-left: 2rem;
        padding-top: 1rem;
    }

    /*Döljer navbaren för desktop*/
    .navbar ul {
        display: none;
        background-color: transparent;
        padding-left: 2rem;
    }

    /*Färg och position för menylänkar*/
    .navbar ul li a {
        display: block;
        color: variables.$color-light-nav;
        padding-bottom: 1rem;
    }

    .navbar ul li a:hover {
        color: lighten(variables.$color-light-nav, 30%);
    }

    /*Visar menyn när hamburgaren är klickad*/
    .navbar ul.show {
        display: block;
    }
}