/*VARIABLER*/
/*Färgteman*/
@use "../abstracts/variables";



* {
    box-sizing: border-box;

}

/*Nollställning av marginal och padding*/
html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: variables.$color-light-hmtlbg;
}

body {
    max-width: 1700px;
    display: block;
    margin: 0 auto;
    color: variables.$color-light-text;
}

/*Layout för main*/
main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 4rem;
    background-color: variables.$color-light-mainbg;
    border-radius: 5px;
}

.pagewrapper {
    display: flex;
    flex-direction: row;
}

.bilder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

figure {
    margin-bottom: 3rem;
}


.textwrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    padding-left: 1rem;
    margin-bottom: 2rem;
    background-color: variables.$color-light-textbg;
}

/*Banner som finns på undersidor*/
.banner2 {
    position: relative;
    width: 100%;
    height: 10vh;
    max-height: 150px;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}



/*Layout för footer*/
footer {
    padding-left: 1rem;
    padding-bottom: 2rem;
    color: variables.$color-ligt-footer;
}

/*MÖRKT TEMA*/
@media (prefers-color-scheme: dark) {

    body {
        color: variables.$color-dark-text;
    }

    main {
        background-color: variables.$color-dark-mainbg;
    }

    .textwrapper {
    background-color: variables.$color-dark-textbg;
}
}


/*Mindre-skärm*/
@media (max-width: 850px) {
    main {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .pagewrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}