/*VARIABLER*/
/*Färgteman*/
@use "../abstracts/variables";



* {
    box-sizing: border-box;

}

/*Nollställning av marginal och padding*/
html,
body {
    margin: 0;
    padding: 0;
}

/*Bakgrundsfärg för hela sidan*/
html {
    background-color: variables.$color-light-hmtlbg;
}

/*Storlek och position för body*/
body {
    max-width: 1700px;
    display: block;
    margin: 0 auto;
    color: variables.$color-light-text;
}

/*Layout för main*/
main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 4rem;
    background-color: variables.$color-light-mainbg;
    border-radius: 5px;
}

/*Huvud-layout för alla sidor*/
.pagewrapper {
    display: flex;
    flex-direction: row;
}

/*Wrapper för bilder på SASS-sidan*/
.bilder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*Skapar mellanrum mellan bilderna*/
figure {
    margin-bottom: 3rem;
}
/*Maxbredd på listor*/
ul {
    max-width: 65ch;

}
/*Luft mellan li-element*/
li {
    padding-bottom: 0.5rem;
}

/*Wrapper för all text*/
.textwrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
    background-color: variables.$color-light-textbg;
}
/*Alternativ wrapper för text på startsida*/
.alt-textwrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    min-height: 60vh;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    margin-bottom: 2rem;
    background-color: variables.$color-light-textbg;

    p{
        max-width: 75ch;
        padding-bottom: 5rem;
    }
}

/*Banner som finns på undersidor*/
.banner2 {
    position: relative;
    width: 100%;
    height: 10vh;
    max-height: 150px;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}



/*Layout för footer*/
footer {
    padding-left: 1rem;
    padding-bottom: 2rem;
    color: variables.$color-ligt-footer;
}

/*///// MEDIA QUERIES /////*/

/*MÖRKT TEMA*/
@media (prefers-color-scheme: dark) {

    body {
        color: variables.$color-dark-text;
    }

    main {
        background-color: variables.$color-dark-mainbg;
    }

    .textwrapper {
        background-color: variables.$color-dark-textbg;
    }

    .alt-textwrapper {
        background-color: variables.$color-dark-textbg;
    }

}


/*Layout för mindre-skärm (ner till mobile)*/
@media (max-width: 1024px) {
    main {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .pagewrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textwrapper{
        width: 100%;
    }

    .alt-textwrapper{
        width: 100%;
    }



}