* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(182, 170, 197);
}

body {
    max-width: 1700px;
    display: block;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(237, 232, 241);
    border-radius: 5px;

    @media (max-width: 1024px) {
        width: 90%;
    }
}

.banner2 {
    position: relative;
    width: 100%;
    height: 15vh;
    max-height: 550px;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

footer{
    padding-left: 1rem;
    padding-bottom: 2rem;
}