/*VARIABLER*/
/*Färgteman*/
@use "../abstracts/variables";


* {
    box-sizing: border-box;
}

/*Nollställning av marginal och padding*/
html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: variables.$color-light-hmtlbg;
}

body {
    max-width: 1700px;
    display: block;
    margin: 0 auto;
    color: variables.$color-light-text;
}

/*Layout för main*/
main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: variables.$color-light-mainbg;
    border-radius: 5px;

    /*Bredd på main upp till tablet-format*/
    @media (max-width: 1024px) {
        width: 90%;
    }
}

/*Banner som finns på undersidor*/
.banner2 {
    position: relative;
    width: 100%;
    height: 10vh;
    max-height: 550px;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

/*Layout för footer*/
footer {
    padding-left: 1rem;
    padding-bottom: 2rem;
    color: variables.$color-ligt-footer;
}

/*MÖRKT TEMA*/
@media (prefers-color-scheme: dark) {
    body {
        color: variables.$color-dark-text;
    }
    main {
        background-color: variables.$color-dark-mainbg;
    }
}