/*/// STARTSIDA ///*/
/*Banner med huvudrubrik och tagline för webbplats*/

/*Storlek och position för banner*/
.banner {
    position: relative;
    width: 100%;
    height: 450px;
    max-height: 550px;
    overflow: hidden;

    /*Position och storlek för bannerbild*/
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    /*Position för text på banner*/
    .bannertext {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: left;
        z-index: 2;

        /*Huvudrubrik*/
        h1 {
            font-size: clamp(3rem, 3.5rem, 4rem);
            color: white;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
            margin-bottom: 0.1rem;
        }

        /*Tagline*/
        p {
            font-size: clamp(1rem, 1.3rem, 1.6rem);
            color: white;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
            max-width: 42rem;
            margin: 0 auto;
        }

        /*MINDRE SKÄRMSTORLEL ca.tablet och mobil*/
        @media (max-width: 1100px) {

            top: 30%;

            h1 {
                font-size: clamp(2rem, 2.5rem, 3rem);
            }
        }

        /*MINDRE SKÄRMSTORLEK. Minsta mått*/
        @media (max-width: 450px) {
            top: 30%;
            left: 30%;

            h1 {
                font-size: clamp(1rem, 2rem, 2.5rem);
            }

            p {
                font-size: clamp(0.5rem, 0.9rem, 1rem);
            }
        }
    }



}