/*Färgteman*/
@use "../abstracts/variables";

.h1animation{
font-size: 1.8rem;
}

.movingbox{
width: 20rem;
height: 20rem;
background-color: variables.$color-firstbtn;
border-radius: 10px;
margin: 0 auto;
margin-bottom: 3rem;
transition: 0.9s ease;
}

/*Flyttar boxen uppåt vid hovring*/
.movingbox:hover{
    animation: movethebox 1.8s ease-in-out;
    background-color: variables.$color-secondbtn;
}

@keyframes movethebox {
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(0, -150px);
    }
    100%{
       transform: translate(0, 0); 
    }
}

/*Knapp som används för test av animering*/
/*Hovereffekt och rotering*/
.animatedbutton{
background-color: variables.$color-firstbtn;
color: variables.$color-text;
width: 20rem;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
border-radius: 7px;
font-size: 1.2rem;
margin: 0 auto;
margin-bottom: 2rem;
transition: 0.9s ease;
}

.animatedbutton:hover{
transform: scale(1.3);
background-color: variables.$color-secondbtn;
}

.animatedbutton.clicked {
    animation: rotatingbutton 0.9s ease;
}

@keyframes rotatingbutton {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}