/*Färgteman*/
@use "../abstracts/variables";


/*Huvudrubrik med animation*/
.h1animation {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    align-self: flex-start;
    margin-left: 2rem;
}

/*Animation aktiveras vid hovring*/
.h1animation:hover {
    animation: headlineanimation 1.5s ease-in-out;
}

/*Animation som gör att rubrikaen blir större och får ett glow*/
@keyframes headlineanimation {
    0% {
        transform: scale(1);
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    50% {
        transform: scale(1.3);
        text-shadow: 0 0 20px rgb(194, 47, 207);
    }

    100% {
        transform: scale(1);
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

/*Positionering för h1 på mindre skärmar*/
@media (max-width: 1024px){
    .h1animation {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    align-self:center;
}
}

/*En "box som visar hur animation an flytta element"*/
.movingbox {
    width: 20rem;
    height: 20rem;
    background-color: variables.$color-firstbtn;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 3rem;
    transition: 0.9s ease;
}

/*Flyttar boxen uppåt vid hovring*/
.movingbox:hover {
    animation: movethebox 1.8s ease-in-out;
    background-color: variables.$color-secondbtn;
}

@keyframes movethebox {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -150px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/*Knapp som används för test av animering*/
/*Hovereffekt och rotering*/
.animatedbutton {
    background-color: variables.$color-firstbtn;
    color: variables.$color-text;
    width: 20rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 7px;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    transition: 0.9s ease;
}
/*Animation aktiveras vid hovring*/
.animatedbutton:hover {
    transform: scale(1.3);
    background-color: variables.$color-secondbtn;
}

/*js-kod aktiverar vad som händer vid klick av knappen*/
.animatedbutton.clicked {
    animation: rotatingbutton 0.9s ease;
}

/*Klick-interaktion resulterar i att knapp roterar 360 grader*/
@keyframes rotatingbutton {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
