
/*Bildform*/

@mixin imgform($width, $height, $radius) {
    width: $width;
    height: $height;
    border-radius: $radius;
}

.imgsmall{
    @include imgform(40%, auto, 10px)
}


.imglarge{
    @include imgform(90%, auto, 10px);
}