
/*FÄRGTEMAN*/

/*Ljust Färgtema*/

$color-light-hmtlbg: rgb(41, 15, 75);
$color-light-mainbg: rgb(237, 232, 241);
$color-light-text:rgb(14, 13, 13);
$color-light-nav:rgb(201, 76, 218);
$color-ligt-footer: rgb(182, 170, 197);

/*Mörkt färgtema*/
$color-dark-mainbg: rgb(14, 14, 14);
$color-dark-text:rgb(237, 232, 241);

