
/*FÄRGTEMAN*/

/*Ljust Färgtema*/

$color-light-hmtlbg: rgb(41, 15, 75);
$color-light-mainbg: rgb(225, 220, 230);
$color-light-text:rgb(14, 13, 13);
$color-light-nav:rgb(218, 142, 228);
$color-light-textbg: rgb(201, 189, 212);
$color-ligt-footer: rgb(182, 170, 197);

/*Mörkt färgtema*/
$color-dark-mainbg: rgb(14, 14, 14);
$color-dark-text:rgb(237, 232, 241);
$color-dark-textbg: rgba(5, 1, 7, 0.418);

/*Accentfärg*/
$color-accent: rgb(178, 6, 201);


/*VARIABEL FÖR TEST AV IF-SATS FÖR KNAPP*/
$prefers-dark: true;
/*Knappfärger*/
$color-firstbtn: rgb(41, 15, 75);
$color-secondbtn: rgb(201, 76, 218);
$color-text: rgb(237, 232, 241);