/*Färgteman*/
@use "../abstracts/variables";

.maintext {
    max-width: 65ch
}

.addon-text {
    @extend .maintext;
    background-color: rgba(199, 155, 216, 0.685);
    color: variables.$color-light-text;
    border-radius: 5px;
}