/*Färgteman*/
@use "../abstracts/variables";



/*Knapp för test av if-sats*/
.testbutton {
    display: block;
    margin: 0 auto;
    width: 20%;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;

    a {
        color: variables.$color-text;
        text-decoration: none;
    }

    /*Variabel för kontroll av värde*/
    $prefers-dark: true;

    /*If-sats*/
    @if variables.$prefers-dark {
        background-color: variables.$color-firstbtn;
    }

    @else {
        background-color: variables.$color-secondbtn;
    }
}